body{
    background-color: rgba(161, 161, 161, 0.283);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 50px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    
}

ul{
    margin: 15px;
    min-width: 300px;
    border: 3px solid black;
    padding:5px;
    list-style-type: none;
    box-shadow: 5px 5px 5px rgba(138, 138, 138, 0.507); 
    text-align: center;
}

li{

    margin: 5px;
    padding: 3px;
    text-align: center;
}
form{
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.additional{
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 200px;
    height: 30px;
    padding: 5px;
    text-align: center;
    margin: 10px;
}

select{
    padding: 5px;
    text-align: center;
    margin: 20px;
}
.submit{
    cursor: pointer;
    width: 100px;
    height: 50px;
    outline: none;
    background:rgb(94, 146, 94);
    color:white;
    border: 1px solid bisque;
    border-radius: 5px;
}
.submit:hover{
    background:green;
}
.del{
    background-color: red;
    width: 150px;
}
.del:hover{
    background-color: rgb(151, 5, 5);
}

.buttons{
    margin: auto auto   ;
    max-width: fit-content;
    display: flex;
}
a{
    display: flex;;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: smaller;
}